@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Libre+Baskerville&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-color: #F4E9D5;
}

header {
    width: 100%;
    position: relative;
    text-align: center;
    z-index: 5;
}

.logo {
    width: 10%;
    margin: 0 0 0 24%;
}

nav {
    width: 100%;
    display: inline;
}

.link {
    float: right;
    font-family: 'Libre Baskerville', sans-serif;
    display: flex;
    line-height: 100px;
    font-size: 170%;
    font-weight: 600;
    margin-right: 10%;
}

.link a {
    margin-left: 20%;
    color: #F4E9D5;
    text-decoration: none;
}

.link a:hover {
    border-bottom: 4px solid #7F0021;
}

.dark-overlay {
    width: 100%;
    height: 60%;
    position: absolute;
    background: #2c2c2c;
    overflow: hidden;
    margin-top: -10%;
}

.hero-img {
    width: 100%;
    height: 680px;
    opacity: 0.3;
    margin-top: -0%;
}

.quote {

    position: relative;
    font-family: 'Libre Baskerville', sans-serif;
    color: #fff;
    font-size: 300%;
    padding-top: 3%;
    margin-left: 25%;
    z-index: 4;
}

.line {
    width: 60%;
    text-align: center;
    position: relative;
    color: #fff;
    font-size: 160%;
    padding-top: 1%;
    margin-left: 20%;
    z-index: 4;
}

.menu-section {
    height: 600px;
    margin-top: 15%;
}

.menu-image {
    margin: 1% 0 0 3%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #2c2c2c;
}

.menu-section h2 {
    color: #fff;
    position: relative;
    font-size: 100px;
    z-index: 3;
    margin: -21% 0 0 13%;
}

.box {
    position: relative;
    text-align: center;
    font-size: 110%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
    padding: 2%;
}

.box li {
    list-style: none;
    padding: 1%;
}

.box h3 {
    font-family: 'Dancing Script', cursive;
    padding-bottom: 4%;
}

.specials {
    width: 20%;
    font-size: 200%;
    padding: 4% 0.5%;
    margin: -8% 0 0 40%;
}

.two-for-one {
    width: 20%;
    font-size: 200%;
    padding: 4% 0.5%;
    margin: -28% 0 0 68%;
}

.party {
    width: 20%;
    font-size: 200%;
    padding: 4% 0.5%;
    margin: 2% 0 0 68%;
}

.find-schedule {
    width: 100%;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 38%, 100% 100%, 0 100%);
    height: 1000px;
}

.open-wrapper {
   width: 100%;
}

.open-box {
    width: 30%;
    font-size: 150%;
    position: relative;
    padding: 12% 5% 0 10% ;
}

.open-header {
    font-family: 'Dancing Script', cursive;
    padding: 3%;
    margin-left: 25%;
}

.open td{
text-align: center;
}

table {
    border-spacing: 10px; 
}

.open-shadow {
    width: 50%;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 0 7px #2c2c2c;
}

.contact {
    margin: -16% 0 0 25%;
}

.contact-shadow {
    width: 60%;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 0 0 7px #2c2c2c;
}

.contact-shadow h3 {
    padding-bottom: 8%;
    margin-left: 25%;
}

iframe {
    margin-top: 5%;
}

/* Footer */

footer {
    width: 100%;
    height: 140px;
    box-sizing: border-box;
    background-color: #3B3B3B;
    color: #F4E9D5;
    left: 0;
    bottom: 0;
}

.footer-wrapper .logo {
    width: 220%;
    margin: 0 0 5% 50%;
}

.footer-wrapper {
    width: 100%;
    text-align: center;
}

.footer-wrapper ul {
    float: left;
    width: 10%;
    padding: 10px;
    list-style: none
}

.menu {
    font-size: 120%;
    position: relative;
    margin-left: 25%;
}

.menu li{
margin-left: 35%;
}

.menu h3, .find-us h3 {
    font-size: 150%;
}

.find-us {
    margin-left: 9%;
}

.find-us li {
    font-size: 300%;
    color: #F4E9D5;
    padding-top: 30px;
    margin: -7% 0 0 43% ;
}

/* social links */

.footer-wrapper .social-links {
    display: inline-flex;
    text-align: center;
    white-space: nowrap;
    margin-right: 10%;
    margin-left: 10%;
}

.footer-wrapper li {
    margin-right: 54%;
}

.social-links li {
    margin-left: 50%;
}

.social-links i {
    font-size: 300%;
    color: #F4E9D5;
    padding-top: 30px;
    margin-bottom: 2%;
}
